h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  position: relative; }

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  border: solid 2px #fff;
  color: #2F9AFF;
  background: #fff; }

.sticky-notes:before, header:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.color-red-50 {
  color: #ffebee; }

.bg-color-red-50 {
  background-color: #ffebee; }

.color-red-100 {
  color: #ffcdd2; }

.bg-color-red-100 {
  background-color: #ffcdd2; }

.color-red-200 {
  color: #ef9a9a; }

.bg-color-red-200 {
  background-color: #ef9a9a; }

.color-red-300 {
  color: #e57373; }

.bg-color-red-300 {
  background-color: #e57373; }

.color-red-400 {
  color: #ef5350; }

.bg-color-red-400 {
  background-color: #ef5350; }

.color-red-500 {
  color: #f44336; }

.bg-color-red-500 {
  background-color: #f44336; }

.color-red-600 {
  color: #e53935; }

.bg-color-red-600 {
  background-color: #e53935; }

.color-red-700 {
  color: #d32f2f; }

.bg-color-red-700 {
  background-color: #d32f2f; }

.color-red-800 {
  color: #c62828; }

.bg-color-red-800 {
  background-color: #c62828; }

.color-red-900 {
  color: #b71c1c; }

.bg-color-red-900 {
  background-color: #b71c1c; }

.color-red-a100 {
  color: #ff8a80; }

.bg-color-red-a100 {
  background-color: #ff8a80; }

.color-red-a200 {
  color: #ff5252; }

.bg-color-red-a200 {
  background-color: #ff5252; }

.color-red-a400 {
  color: #ff1744; }

.bg-color-red-a400 {
  background-color: #ff1744; }

.color-red-a700 {
  color: #d50000; }

.bg-color-red-a700 {
  background-color: #d50000; }

.color-pink-50 {
  color: #fce4ec; }

.bg-color-pink-50 {
  background-color: #fce4ec; }

.color-pink-100 {
  color: #f8bbd0; }

.bg-color-pink-100 {
  background-color: #f8bbd0; }

.color-pink-200 {
  color: #f48fb1; }

.bg-color-pink-200 {
  background-color: #f48fb1; }

.color-pink-300 {
  color: #f06292; }

.bg-color-pink-300 {
  background-color: #f06292; }

.color-pink-400 {
  color: #ec407a; }

.bg-color-pink-400 {
  background-color: #ec407a; }

.color-pink-500 {
  color: #e91e63; }

.bg-color-pink-500 {
  background-color: #e91e63; }

.color-pink-600 {
  color: #d81b60; }

.bg-color-pink-600 {
  background-color: #d81b60; }

.color-pink-700 {
  color: #c2185b; }

.bg-color-pink-700 {
  background-color: #c2185b; }

.color-pink-800 {
  color: #ad1457; }

.bg-color-pink-800 {
  background-color: #ad1457; }

.color-pink-900 {
  color: #880e4f; }

.bg-color-pink-900 {
  background-color: #880e4f; }

.color-pink-a100 {
  color: #ff80ab; }

.bg-color-pink-a100 {
  background-color: #ff80ab; }

.color-pink-a200 {
  color: #ff4081; }

.bg-color-pink-a200 {
  background-color: #ff4081; }

.color-pink-a400 {
  color: #f50057; }

.bg-color-pink-a400 {
  background-color: #f50057; }

.color-pink-a700 {
  color: #c51162; }

.bg-color-pink-a700 {
  background-color: #c51162; }

.color-purple-50 {
  color: #f3e5f5; }

.bg-color-purple-50 {
  background-color: #f3e5f5; }

.color-purple-100 {
  color: #e1bee7; }

.bg-color-purple-100 {
  background-color: #e1bee7; }

.color-purple-200 {
  color: #ce93d8; }

.bg-color-purple-200 {
  background-color: #ce93d8; }

.color-purple-300 {
  color: #ba68c8; }

.bg-color-purple-300 {
  background-color: #ba68c8; }

.color-purple-400 {
  color: #ab47bc; }

.bg-color-purple-400 {
  background-color: #ab47bc; }

.color-purple-500 {
  color: #9c27b0; }

.bg-color-purple-500 {
  background-color: #9c27b0; }

.color-purple-600 {
  color: #8e24aa; }

.bg-color-purple-600 {
  background-color: #8e24aa; }

.color-purple-700 {
  color: #7b1fa2; }

.bg-color-purple-700 {
  background-color: #7b1fa2; }

.color-purple-800 {
  color: #6a1b9a; }

.bg-color-purple-800 {
  background-color: #6a1b9a; }

.color-purple-900 {
  color: #4a148c; }

.bg-color-purple-900 {
  background-color: #4a148c; }

.color-purple-a100 {
  color: #ea80fc; }

.bg-color-purple-a100 {
  background-color: #ea80fc; }

.color-purple-a200 {
  color: #e040fb; }

.bg-color-purple-a200 {
  background-color: #e040fb; }

.color-purple-a400 {
  color: #d500f9; }

.bg-color-purple-a400 {
  background-color: #d500f9; }

.color-purple-a700 {
  color: #aa00ff; }

.bg-color-purple-a700 {
  background-color: #aa00ff; }

.color-deep-purple-50 {
  color: #ede7f6; }

.bg-color-deep-purple-50 {
  background-color: #ede7f6; }

.color-deep-purple-100 {
  color: #d1c4e9; }

.bg-color-deep-purple-100 {
  background-color: #d1c4e9; }

.color-deep-purple-200 {
  color: #b39ddb; }

.bg-color-deep-purple-200 {
  background-color: #b39ddb; }

.color-deep-purple-300 {
  color: #9575cd; }

.bg-color-deep-purple-300 {
  background-color: #9575cd; }

.color-deep-purple-400 {
  color: #7e57c2; }

.bg-color-deep-purple-400 {
  background-color: #7e57c2; }

.color-deep-purple-500 {
  color: #673ab7; }

.bg-color-deep-purple-500 {
  background-color: #673ab7; }

.color-deep-purple-600 {
  color: #5e35b1; }

.bg-color-deep-purple-600 {
  background-color: #5e35b1; }

.color-deep-purple-700 {
  color: #512da8; }

.bg-color-deep-purple-700 {
  background-color: #512da8; }

.color-deep-purple-800 {
  color: #4527a0; }

.bg-color-deep-purple-800 {
  background-color: #4527a0; }

.color-deep-purple-900 {
  color: #311b92; }

.bg-color-deep-purple-900 {
  background-color: #311b92; }

.color-deep-purple-a100 {
  color: #b388ff; }

.bg-color-deep-purple-a100 {
  background-color: #b388ff; }

.color-deep-purple-a200 {
  color: #7c4dff; }

.bg-color-deep-purple-a200 {
  background-color: #7c4dff; }

.color-deep-purple-a400 {
  color: #651fff; }

.bg-color-deep-purple-a400 {
  background-color: #651fff; }

.color-deep-purple-a700 {
  color: #6200ea; }

.bg-color-deep-purple-a700 {
  background-color: #6200ea; }

.color-indigo-50 {
  color: #e8eaf6; }

.bg-color-indigo-50 {
  background-color: #e8eaf6; }

.color-indigo-100 {
  color: #c5cae9; }

.bg-color-indigo-100 {
  background-color: #c5cae9; }

.color-indigo-200 {
  color: #9fa8da; }

.bg-color-indigo-200 {
  background-color: #9fa8da; }

.color-indigo-300 {
  color: #7986cb; }

.bg-color-indigo-300 {
  background-color: #7986cb; }

.color-indigo-400 {
  color: #5c6bc0; }

.bg-color-indigo-400 {
  background-color: #5c6bc0; }

.color-indigo-500 {
  color: #3f51b5; }

.bg-color-indigo-500 {
  background-color: #3f51b5; }

.color-indigo-600 {
  color: #3949ab; }

.bg-color-indigo-600 {
  background-color: #3949ab; }

.color-indigo-700 {
  color: #303f9f; }

.bg-color-indigo-700 {
  background-color: #303f9f; }

.color-indigo-800 {
  color: #283593; }

.bg-color-indigo-800 {
  background-color: #283593; }

.color-indigo-900 {
  color: #1a237e; }

.bg-color-indigo-900 {
  background-color: #1a237e; }

.color-indigo-a100 {
  color: #8c9eff; }

.bg-color-indigo-a100 {
  background-color: #8c9eff; }

.color-indigo-a200 {
  color: #536dfe; }

.bg-color-indigo-a200 {
  background-color: #536dfe; }

.color-indigo-a400 {
  color: #3d5afe; }

.bg-color-indigo-a400 {
  background-color: #3d5afe; }

.color-indigo-a700 {
  color: #304ffe; }

.bg-color-indigo-a700 {
  background-color: #304ffe; }

.color-blue-50 {
  color: #e3f2fd; }

.bg-color-blue-50 {
  background-color: #e3f2fd; }

.color-blue-100 {
  color: #bbdefb; }

.bg-color-blue-100 {
  background-color: #bbdefb; }

.color-blue-200 {
  color: #90caf9; }

.bg-color-blue-200 {
  background-color: #90caf9; }

.color-blue-300 {
  color: #64b5f6; }

.bg-color-blue-300 {
  background-color: #64b5f6; }

.color-blue-400 {
  color: #42a5f5; }

.bg-color-blue-400 {
  background-color: #42a5f5; }

.color-blue-500 {
  color: #2196f3; }

.bg-color-blue-500 {
  background-color: #2196f3; }

.color-blue-600 {
  color: #1e88e5; }

.bg-color-blue-600 {
  background-color: #1e88e5; }

.color-blue-700 {
  color: #1976d2; }

.bg-color-blue-700 {
  background-color: #1976d2; }

.color-blue-800 {
  color: #1565c0; }

.bg-color-blue-800 {
  background-color: #1565c0; }

.color-blue-900 {
  color: #0d47a1; }

.bg-color-blue-900 {
  background-color: #0d47a1; }

.color-blue-a100 {
  color: #82b1ff; }

.bg-color-blue-a100 {
  background-color: #82b1ff; }

.color-blue-a200 {
  color: #448aff; }

.bg-color-blue-a200 {
  background-color: #448aff; }

.color-blue-a400 {
  color: #2979ff; }

.bg-color-blue-a400 {
  background-color: #2979ff; }

.color-blue-a700 {
  color: #2962ff; }

.bg-color-blue-a700 {
  background-color: #2962ff; }

.color-light-blue-50 {
  color: #e1f5fe; }

.bg-color-light-blue-50 {
  background-color: #e1f5fe; }

.color-light-blue-100 {
  color: #b3e5fc; }

.bg-color-light-blue-100 {
  background-color: #b3e5fc; }

.color-light-blue-200 {
  color: #81d4fa; }

.bg-color-light-blue-200 {
  background-color: #81d4fa; }

.color-light-blue-300 {
  color: #4fc3f7; }

.bg-color-light-blue-300 {
  background-color: #4fc3f7; }

.color-light-blue-400 {
  color: #29b6f6; }

.bg-color-light-blue-400 {
  background-color: #29b6f6; }

.color-light-blue-500 {
  color: #03a9f4; }

.bg-color-light-blue-500 {
  background-color: #03a9f4; }

.color-light-blue-600 {
  color: #039be5; }

.bg-color-light-blue-600 {
  background-color: #039be5; }

.color-light-blue-700 {
  color: #0288d1; }

.bg-color-light-blue-700 {
  background-color: #0288d1; }

.color-light-blue-800 {
  color: #0277bd; }

.bg-color-light-blue-800 {
  background-color: #0277bd; }

.color-light-blue-900 {
  color: #01579b; }

.bg-color-light-blue-900 {
  background-color: #01579b; }

.color-light-blue-a100 {
  color: #80d8ff; }

.bg-color-light-blue-a100 {
  background-color: #80d8ff; }

.color-light-blue-a200 {
  color: #40c4ff; }

.bg-color-light-blue-a200 {
  background-color: #40c4ff; }

.color-light-blue-a400 {
  color: #00b0ff; }

.bg-color-light-blue-a400 {
  background-color: #00b0ff; }

.color-light-blue-a700 {
  color: #0091ea; }

.bg-color-light-blue-a700 {
  background-color: #0091ea; }

.color-cyan-50 {
  color: #e0f7fa; }

.bg-color-cyan-50 {
  background-color: #e0f7fa; }

.color-cyan-100 {
  color: #b2ebf2; }

.bg-color-cyan-100 {
  background-color: #b2ebf2; }

.color-cyan-200 {
  color: #80deea; }

.bg-color-cyan-200 {
  background-color: #80deea; }

.color-cyan-300 {
  color: #4dd0e1; }

.bg-color-cyan-300 {
  background-color: #4dd0e1; }

.color-cyan-400 {
  color: #26c6da; }

.bg-color-cyan-400 {
  background-color: #26c6da; }

.color-cyan-500 {
  color: #00bcd4; }

.bg-color-cyan-500 {
  background-color: #00bcd4; }

.color-cyan-600 {
  color: #00acc1; }

.bg-color-cyan-600 {
  background-color: #00acc1; }

.color-cyan-700 {
  color: #0097a7; }

.bg-color-cyan-700 {
  background-color: #0097a7; }

.color-cyan-800 {
  color: #00838f; }

.bg-color-cyan-800 {
  background-color: #00838f; }

.color-cyan-900 {
  color: #006064; }

.bg-color-cyan-900 {
  background-color: #006064; }

.color-cyan-a100 {
  color: #84ffff; }

.bg-color-cyan-a100 {
  background-color: #84ffff; }

.color-cyan-a200 {
  color: #18ffff; }

.bg-color-cyan-a200 {
  background-color: #18ffff; }

.color-cyan-a400 {
  color: #00e5ff; }

.bg-color-cyan-a400 {
  background-color: #00e5ff; }

.color-cyan-a700 {
  color: #00b8d4; }

.bg-color-cyan-a700 {
  background-color: #00b8d4; }

.color-teal-50 {
  color: #e0f2f1; }

.bg-color-teal-50 {
  background-color: #e0f2f1; }

.color-teal-100 {
  color: #b2dfdb; }

.bg-color-teal-100 {
  background-color: #b2dfdb; }

.color-teal-200 {
  color: #80cbc4; }

.bg-color-teal-200 {
  background-color: #80cbc4; }

.color-teal-300 {
  color: #4db6ac; }

.bg-color-teal-300 {
  background-color: #4db6ac; }

.color-teal-400 {
  color: #26a69a; }

.bg-color-teal-400 {
  background-color: #26a69a; }

.color-teal-500 {
  color: #009688; }

.bg-color-teal-500 {
  background-color: #009688; }

.color-teal-600 {
  color: #00897b; }

.bg-color-teal-600 {
  background-color: #00897b; }

.color-teal-700 {
  color: #00796b; }

.bg-color-teal-700 {
  background-color: #00796b; }

.color-teal-800 {
  color: #00695c; }

.bg-color-teal-800 {
  background-color: #00695c; }

.color-teal-900 {
  color: #004d40; }

.bg-color-teal-900 {
  background-color: #004d40; }

.color-teal-a100 {
  color: #a7ffeb; }

.bg-color-teal-a100 {
  background-color: #a7ffeb; }

.color-teal-a200 {
  color: #64ffda; }

.bg-color-teal-a200 {
  background-color: #64ffda; }

.color-teal-a400 {
  color: #1de9b6; }

.bg-color-teal-a400 {
  background-color: #1de9b6; }

.color-teal-a700 {
  color: #00bfa5; }

.bg-color-teal-a700 {
  background-color: #00bfa5; }

.color-green-50 {
  color: #e8f5e9; }

.bg-color-green-50 {
  background-color: #e8f5e9; }

.color-green-100 {
  color: #c8e6c9; }

.bg-color-green-100 {
  background-color: #c8e6c9; }

.color-green-200 {
  color: #a5d6a7; }

.bg-color-green-200 {
  background-color: #a5d6a7; }

.color-green-300 {
  color: #81c784; }

.bg-color-green-300 {
  background-color: #81c784; }

.color-green-400 {
  color: #66bb6a; }

.bg-color-green-400 {
  background-color: #66bb6a; }

.color-green-500 {
  color: #4caf50; }

.bg-color-green-500 {
  background-color: #4caf50; }

.color-green-600 {
  color: #43a047; }

.bg-color-green-600 {
  background-color: #43a047; }

.color-green-700 {
  color: #388e3c; }

.bg-color-green-700 {
  background-color: #388e3c; }

.color-green-800 {
  color: #2e7d32; }

.bg-color-green-800 {
  background-color: #2e7d32; }

.color-green-900 {
  color: #1b5e20; }

.bg-color-green-900 {
  background-color: #1b5e20; }

.color-green-a100 {
  color: #b9f6ca; }

.bg-color-green-a100 {
  background-color: #b9f6ca; }

.color-green-a200 {
  color: #69f0ae; }

.bg-color-green-a200 {
  background-color: #69f0ae; }

.color-green-a400 {
  color: #00e676; }

.bg-color-green-a400 {
  background-color: #00e676; }

.color-green-a700 {
  color: #00c853; }

.bg-color-green-a700 {
  background-color: #00c853; }

.color-light-green-50 {
  color: #f1f8e9; }

.bg-color-light-green-50 {
  background-color: #f1f8e9; }

.color-light-green-100 {
  color: #dcedc8; }

.bg-color-light-green-100 {
  background-color: #dcedc8; }

.color-light-green-200 {
  color: #c5e1a5; }

.bg-color-light-green-200 {
  background-color: #c5e1a5; }

.color-light-green-300 {
  color: #aed581; }

.bg-color-light-green-300 {
  background-color: #aed581; }

.color-light-green-400 {
  color: #9ccc65; }

.bg-color-light-green-400 {
  background-color: #9ccc65; }

.color-light-green-500 {
  color: #8bc34a; }

.bg-color-light-green-500 {
  background-color: #8bc34a; }

.color-light-green-600 {
  color: #7cb342; }

.bg-color-light-green-600 {
  background-color: #7cb342; }

.color-light-green-700 {
  color: #689f38; }

.bg-color-light-green-700 {
  background-color: #689f38; }

.color-light-green-800 {
  color: #558b2f; }

.bg-color-light-green-800 {
  background-color: #558b2f; }

.color-light-green-900 {
  color: #33691e; }

.bg-color-light-green-900 {
  background-color: #33691e; }

.color-light-green-a100 {
  color: #ccff90; }

.bg-color-light-green-a100 {
  background-color: #ccff90; }

.color-light-green-a200 {
  color: #b2ff59; }

.bg-color-light-green-a200 {
  background-color: #b2ff59; }

.color-light-green-a400 {
  color: #76ff03; }

.bg-color-light-green-a400 {
  background-color: #76ff03; }

.color-light-green-a700 {
  color: #64dd17; }

.bg-color-light-green-a700 {
  background-color: #64dd17; }

.color-lime-50 {
  color: #f9fbe7; }

.bg-color-lime-50 {
  background-color: #f9fbe7; }

.color-lime-100 {
  color: #f0f4c3; }

.bg-color-lime-100 {
  background-color: #f0f4c3; }

.color-lime-200 {
  color: #e6ee9c; }

.bg-color-lime-200 {
  background-color: #e6ee9c; }

.color-lime-300 {
  color: #dce775; }

.bg-color-lime-300 {
  background-color: #dce775; }

.color-lime-400 {
  color: #d4e157; }

.bg-color-lime-400 {
  background-color: #d4e157; }

.color-lime-500 {
  color: #cddc39; }

.bg-color-lime-500 {
  background-color: #cddc39; }

.color-lime-600 {
  color: #c0ca33; }

.bg-color-lime-600 {
  background-color: #c0ca33; }

.color-lime-700 {
  color: #afb42b; }

.bg-color-lime-700 {
  background-color: #afb42b; }

.color-lime-800 {
  color: #9e9d24; }

.bg-color-lime-800 {
  background-color: #9e9d24; }

.color-lime-900 {
  color: #827717; }

.bg-color-lime-900 {
  background-color: #827717; }

.color-lime-a100 {
  color: #f4ff81; }

.bg-color-lime-a100 {
  background-color: #f4ff81; }

.color-lime-a200 {
  color: #eeff41; }

.bg-color-lime-a200 {
  background-color: #eeff41; }

.color-lime-a400 {
  color: #c6ff00; }

.bg-color-lime-a400 {
  background-color: #c6ff00; }

.color-lime-a700 {
  color: #aeea00; }

.bg-color-lime-a700 {
  background-color: #aeea00; }

.color-yellow-50 {
  color: #fffde7; }

.bg-color-yellow-50 {
  background-color: #fffde7; }

.color-yellow-100 {
  color: #fff9c4; }

.bg-color-yellow-100 {
  background-color: #fff9c4; }

.color-yellow-200 {
  color: #fff59d; }

.bg-color-yellow-200 {
  background-color: #fff59d; }

.color-yellow-300 {
  color: #fff176; }

.bg-color-yellow-300 {
  background-color: #fff176; }

.color-yellow-400 {
  color: #ffee58; }

.bg-color-yellow-400 {
  background-color: #ffee58; }

.color-yellow-500 {
  color: #ffeb3b; }

.bg-color-yellow-500 {
  background-color: #ffeb3b; }

.color-yellow-600 {
  color: #fdd835; }

.bg-color-yellow-600 {
  background-color: #fdd835; }

.color-yellow-700 {
  color: #fbc02d; }

.bg-color-yellow-700 {
  background-color: #fbc02d; }

.color-yellow-800 {
  color: #f9a825; }

.bg-color-yellow-800 {
  background-color: #f9a825; }

.color-yellow-900 {
  color: #f57f17; }

.bg-color-yellow-900 {
  background-color: #f57f17; }

.color-yellow-a100 {
  color: #ffff8d; }

.bg-color-yellow-a100 {
  background-color: #ffff8d; }

.color-yellow-a200 {
  color: #ffff00; }

.bg-color-yellow-a200 {
  background-color: #ffff00; }

.color-yellow-a400 {
  color: #ffea00; }

.bg-color-yellow-a400 {
  background-color: #ffea00; }

.color-yellow-a700 {
  color: #ffd600; }

.bg-color-yellow-a700 {
  background-color: #ffd600; }

.color-amber-50 {
  color: #fff8e1; }

.bg-color-amber-50 {
  background-color: #fff8e1; }

.color-amber-100 {
  color: #ffecb3; }

.bg-color-amber-100 {
  background-color: #ffecb3; }

.color-amber-200 {
  color: #ffe082; }

.bg-color-amber-200 {
  background-color: #ffe082; }

.color-amber-300 {
  color: #ffd54f; }

.bg-color-amber-300 {
  background-color: #ffd54f; }

.color-amber-400 {
  color: #ffca28; }

.bg-color-amber-400 {
  background-color: #ffca28; }

.color-amber-500 {
  color: #ffc107; }

.bg-color-amber-500 {
  background-color: #ffc107; }

.color-amber-600 {
  color: #ffb300; }

.bg-color-amber-600 {
  background-color: #ffb300; }

.color-amber-700 {
  color: #ffa000; }

.bg-color-amber-700 {
  background-color: #ffa000; }

.color-amber-800 {
  color: #ff8f00; }

.bg-color-amber-800 {
  background-color: #ff8f00; }

.color-amber-900 {
  color: #ff6f00; }

.bg-color-amber-900 {
  background-color: #ff6f00; }

.color-amber-a100 {
  color: #ffe57f; }

.bg-color-amber-a100 {
  background-color: #ffe57f; }

.color-amber-a200 {
  color: #ffd740; }

.bg-color-amber-a200 {
  background-color: #ffd740; }

.color-amber-a400 {
  color: #ffc400; }

.bg-color-amber-a400 {
  background-color: #ffc400; }

.color-amber-a700 {
  color: #ffab00; }

.bg-color-amber-a700 {
  background-color: #ffab00; }

.color-orange-50 {
  color: #fff3e0; }

.bg-color-orange-50 {
  background-color: #fff3e0; }

.color-orange-100 {
  color: #ffe0b2; }

.bg-color-orange-100 {
  background-color: #ffe0b2; }

.color-orange-200 {
  color: #ffcc80; }

.bg-color-orange-200 {
  background-color: #ffcc80; }

.color-orange-300 {
  color: #ffb74d; }

.bg-color-orange-300 {
  background-color: #ffb74d; }

.color-orange-400 {
  color: #ffa726; }

.bg-color-orange-400 {
  background-color: #ffa726; }

.color-orange-500 {
  color: #ff9800; }

.bg-color-orange-500 {
  background-color: #ff9800; }

.color-orange-600 {
  color: #fb8c00; }

.bg-color-orange-600 {
  background-color: #fb8c00; }

.color-orange-700 {
  color: #f57c00; }

.bg-color-orange-700 {
  background-color: #f57c00; }

.color-orange-800 {
  color: #ef6c00; }

.bg-color-orange-800 {
  background-color: #ef6c00; }

.color-orange-900 {
  color: #e65100; }

.bg-color-orange-900 {
  background-color: #e65100; }

.color-orange-a100 {
  color: #ffd180; }

.bg-color-orange-a100 {
  background-color: #ffd180; }

.color-orange-a200 {
  color: #ffab40; }

.bg-color-orange-a200 {
  background-color: #ffab40; }

.color-orange-a400 {
  color: #ff9100; }

.bg-color-orange-a400 {
  background-color: #ff9100; }

.color-orange-a700 {
  color: #ff6d00; }

.bg-color-orange-a700 {
  background-color: #ff6d00; }

.color-deep-orange-50 {
  color: #fbe9e7; }

.bg-color-deep-orange-50 {
  background-color: #fbe9e7; }

.color-deep-orange-100 {
  color: #ffccbc; }

.bg-color-deep-orange-100 {
  background-color: #ffccbc; }

.color-deep-orange-200 {
  color: #ffab91; }

.bg-color-deep-orange-200 {
  background-color: #ffab91; }

.color-deep-orange-300 {
  color: #ff8a65; }

.bg-color-deep-orange-300 {
  background-color: #ff8a65; }

.color-deep-orange-400 {
  color: #ff7043; }

.bg-color-deep-orange-400 {
  background-color: #ff7043; }

.color-deep-orange-500 {
  color: #ff5722; }

.bg-color-deep-orange-500 {
  background-color: #ff5722; }

.color-deep-orange-600 {
  color: #f4511e; }

.bg-color-deep-orange-600 {
  background-color: #f4511e; }

.color-deep-orange-700 {
  color: #e64a19; }

.bg-color-deep-orange-700 {
  background-color: #e64a19; }

.color-deep-orange-800 {
  color: #d84315; }

.bg-color-deep-orange-800 {
  background-color: #d84315; }

.color-deep-orange-900 {
  color: #bf360c; }

.bg-color-deep-orange-900 {
  background-color: #bf360c; }

.color-deep-orange-a100 {
  color: #ff9e80; }

.bg-color-deep-orange-a100 {
  background-color: #ff9e80; }

.color-deep-orange-a200 {
  color: #ff6e40; }

.bg-color-deep-orange-a200 {
  background-color: #ff6e40; }

.color-deep-orange-a400 {
  color: #ff3d00; }

.bg-color-deep-orange-a400 {
  background-color: #ff3d00; }

.color-deep-orange-a700 {
  color: #dd2c00; }

.bg-color-deep-orange-a700 {
  background-color: #dd2c00; }

.color-brown-50 {
  color: #efebe9; }

.bg-color-brown-50 {
  background-color: #efebe9; }

.color-brown-100 {
  color: #d7ccc8; }

.bg-color-brown-100 {
  background-color: #d7ccc8; }

.color-brown-200 {
  color: #bcaaa4; }

.bg-color-brown-200 {
  background-color: #bcaaa4; }

.color-brown-300 {
  color: #a1887f; }

.bg-color-brown-300 {
  background-color: #a1887f; }

.color-brown-400 {
  color: #8d6e63; }

.bg-color-brown-400 {
  background-color: #8d6e63; }

.color-brown-500 {
  color: #795548; }

.bg-color-brown-500 {
  background-color: #795548; }

.color-brown-600 {
  color: #6d4c41; }

.bg-color-brown-600 {
  background-color: #6d4c41; }

.color-brown-700 {
  color: #5d4037; }

.bg-color-brown-700 {
  background-color: #5d4037; }

.color-brown-800 {
  color: #4e342e; }

.bg-color-brown-800 {
  background-color: #4e342e; }

.color-brown-900 {
  color: #3e2723; }

.bg-color-brown-900 {
  background-color: #3e2723; }

.color-grey-50 {
  color: #fafafa; }

.bg-color-grey-50 {
  background-color: #fafafa; }

.color-grey-100 {
  color: #f5f5f5; }

.bg-color-grey-100 {
  background-color: #f5f5f5; }

.color-grey-200 {
  color: #eeeeee; }

.bg-color-grey-200 {
  background-color: #eeeeee; }

.color-grey-300 {
  color: #e0e0e0; }

.bg-color-grey-300 {
  background-color: #e0e0e0; }

.color-grey-400 {
  color: #bdbdbd; }

.bg-color-grey-400 {
  background-color: #bdbdbd; }

.color-grey-500 {
  color: #9e9e9e; }

.bg-color-grey-500 {
  background-color: #9e9e9e; }

.color-grey-600 {
  color: #757575; }

.bg-color-grey-600 {
  background-color: #757575; }

.color-grey-700 {
  color: #616161; }

.bg-color-grey-700 {
  background-color: #616161; }

.color-grey-800 {
  color: #424242; }

.bg-color-grey-800 {
  background-color: #424242; }

.color-grey-900 {
  color: #212121; }

.bg-color-grey-900 {
  background-color: #212121; }

.color-blue-grey-50 {
  color: #eceff1; }

.bg-color-blue-grey-50 {
  background-color: #eceff1; }

.color-blue-grey-100 {
  color: #cfd8dc; }

.bg-color-blue-grey-100 {
  background-color: #cfd8dc; }

.color-blue-grey-200 {
  color: #b0bec5; }

.bg-color-blue-grey-200 {
  background-color: #b0bec5; }

.color-blue-grey-300 {
  color: #90a4ae; }

.bg-color-blue-grey-300 {
  background-color: #90a4ae; }

.color-blue-grey-400 {
  color: #78909c; }

.bg-color-blue-grey-400 {
  background-color: #78909c; }

.color-blue-grey-500 {
  color: #607d8b; }

.bg-color-blue-grey-500 {
  background-color: #607d8b; }

.color-blue-grey-600 {
  color: #546e7a; }

.bg-color-blue-grey-600 {
  background-color: #546e7a; }

.color-blue-grey-700 {
  color: #455a64; }

.bg-color-blue-grey-700 {
  background-color: #455a64; }

.color-blue-grey-800 {
  color: #37474f; }

.bg-color-blue-grey-800 {
  background-color: #37474f; }

.color-blue-grey-900 {
  color: #263238; }

.bg-color-blue-grey-900 {
  background-color: #263238; }

.color-blue-grey-1000 {
  color: #11171a; }

.bg-color-blue-grey-1000 {
  background-color: #11171a; }

@font-face {
  font-family: "et-bembo";
  src: url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-bembo";
  src: url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-bembo";
  src: url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "et-bembo-roman-old-style";
  src: url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 15px; }

.tufter {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: et-bembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  color: #2c3e50;
  max-width: 1400px;
  counter-reset: sidenote-counter; }
  .tufter img {
    mix-blend-mode: multiply; }

.tufte {
  font-weight: 400;
  font-style: italic;
  line-height: 1;
  font-family: et-bembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }

h1.tufte {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem; }

h2.tufte {
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 2.2rem; }

h3.tufte {
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 0; }

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1; }

table {
  overflow-x: scroll;
  width: 98%;
  clear: left;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 1.4rem 1%;
  border-collapse: separate;
  border-spacing: 0 5px;
  -webkit-font-feature-settings: 'tnum';
  /* This is technically redundant */
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum'; }

table.table-beta {
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }

thead th {
  text-align: left;
  border-bottom: 1px solid #AAAAAA;
  font-weight: 400;
  border-collapse: separate;
  border-spacing: 5px 5px; }

td.text {
  text-align: left; }

td > div.number {
  width: 27px;
  text-align: right;
  display: inline-block; }

span.table-label {
  padding-top: 8px; }

/* to maintain height relative to table header row */
table.booktabs {
  width: auto;
  margin: 0 auto;
  border-spacing: 0px;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333; }

.booktabs th {
  border-bottom: 1px solid #333333;
  padding: 0.65ex 0.5em 0.4ex 0.5em;
  font-weight: normal;
  text-align: center; }

.booktabs th.cmid {
  border-bottom: 1px solid #666666; }

.booktabs th.nocmid {
  border-bottom: none; }

.booktabs tbody tr:first-child td {
  padding-top: 0.65ex; }

/* add space between thead row and tbody */
.booktabs td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left; }

.booktabs caption {
  font-size: 90%;
  text-align: left;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1ex;
  caption-side: top; }

.booktabs tbody tr td.l {
  text-align: left !important; }

.booktabs tbody tr td.c {
  text-align: center !important; }

.booktabs tbody tr td.r {
  text-align: right !important; }

.tufter article {
  position: relative;
  padding: 5rem 0rem; }

.tufter section {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.tufter p, .tufter ol, .tufter ul {
  font-size: 1.4rem; }

.tufter p {
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline; }

blockquote p {
  font-size: 1.1rem;
  width: 50%; }

blockquote footer {
  width: 50%;
  text-align: right; }

.tufter ul {
  width: 45%;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
  list-style-type: none; }

.tufter li {
  padding: 0.5rem 0; }

.tufter figure {
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-bottom: 3em; }

.tufter figcaption {
  float: right;
  clear: right;
  margin-right: -48%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%; }

.tufter figure.fullwidth figcaption {
  margin-right: 24%; }

.tufter a {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding-bottom: 1px; }

.tufter img {
  max-width: 100%; }

.tufter .sidenote, .tufter .marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative; }

.tufter .table-caption {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6; }

.tufter .sidenote-number {
  counter-increment: sidenote-counter;
  color: #f44336; }

.tufter .sidenote-number:after, .tufter .sidenote:before {
  content: counter(sidenote-counter) " ";
  font-family: et-bembo-roman-old-style;
  position: relative;
  vertical-align: baseline; }

.tufter .sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; }

.tufter .sidenote:before {
  content: counter(sidenote-counter) " ";
  top: -0.5rem;
  color: #f44336; }

.tufter p, .tufter footer, .tufter div.table-wrapper {
  width: 55%; }

@media screen and (max-width: 760px) {
  .tufter p, .tufter div.table-wrapper {
    width: 90%; } }

.tufter div.table-wrapper {
  overflow-x: scroll; }

@media screen and (max-width: 760px) {
  p {
    width: 90%; }
  pre.code {
    width: 87.5%; }
  ul {
    width: 85%; }
  figure {
    max-width: 90%; }
  figcaption, figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none; }
  blockquote p, blockquote footer {
    width: 90%; } }

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: .03em; }

.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6; }

h1 .code, h2 .code, h3 .code {
  font-size: 0.80em; }

.marginnote .code, .sidenote .code {
  font-size: 1rem; }

pre.code {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: scroll; }

.fullwidth {
  max-width: 90%; }

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em; }

input.margin-toggle {
  display: none; }

label.sidenote-number {
  display: inline; }

label.margin-toggle:not(.sidenote-number) {
  display: none; }

@media (max-width: 760px) {
  main label.margin-toggle:not(.sidenote-number) {
    display: inline; }
  main .sidenote, main .marginnote {
    display: none; }
  main .margin-toggle:checked + .sidenote,
  main .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; }
  main label {
    cursor: pointer; }
  main pre.code {
    width: 90%;
    padding: 0; }
  main .table-caption {
    display: block;
    float: right;
    clear: both;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: baseline;
    position: relative; }
  main div.table-wrapper, main table, main table.booktabs {
    width: 85%; }
  main div.table-wrapper {
    border-right: 1px solid #efefef; }
  main img {
    width: 100%; } }

.hidden {
  display: none !important; }

.navbar {
  position: relative;
  margin-bottom: 21px;
  border: 1px solid transparent; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px; } }

@media (min-width: 768px) {
  .navbar-header {
    float: left; } }

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch; }

.navbar-collapse.in {
  overflow-y: auto; }

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .navbar-collapse.in {
    overflow-y: visible; }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0; } }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px; }

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px; } }

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0; } }

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px; }

@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0; } }

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }

@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

.navbar-brand {
  float: left;
  padding: 19.5px 15px;
  font-size: 11px;
  line-height: 21px; }

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none; }

.navbar-brand > img {
  display: block; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px; } }

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.navbar-toggle:focus {
  outline: 0; }

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

@media (min-width: 768px) {
  .navbar-toggle {
    display: none; } }

.navbar-nav {
  margin: 9.75px -15px; }

.navbar-nav > li > a {
  line-height: 21px; }

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px; }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 21px; }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none; } }

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0; }
  .navbar-nav > li {
    float: left; } }

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8.5px;
  margin-bottom: 8.5px; }

@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .navbar-form .form-control-static {
    display: inline-block; }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle; }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto; }
  .navbar-form .input-group > .form-control {
    width: 100%; }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0; }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0; } }

@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px; }
  .navbar-form .form-group:last-child {
    margin-bottom: 0; } }

@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.navbar-btn {
  margin-top: 8.5px;
  margin-bottom: 8.5px; }

.navbar-btn.btn-sm {
  margin-top: 13.5px;
  margin-bottom: 13.5px; }

.navbar-btn.btn-xs {
  margin-top: 19px;
  margin-bottom: 19px; }

.navbar-text {
  margin-top: 19.5px;
  margin-bottom: 19.5px; }

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px; } }

@media (min-width: 768px) {
  .navbar-left {
    float: left !important; }
  .navbar-right {
    float: right !important;
    margin-right: -15px; }
  .navbar-right ~ .navbar-right {
    margin-right: 0; } }

.navbar-default {
  background-color: #2c3e50;
  border-color: transparent; }

.navbar-default .navbar-brand {
  color: #ffffff; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #00bcd4;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: #777777; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00bcd4;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a242f; }

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border-color: #1a242f; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a242f; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1a242f;
  color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00bcd4;
    background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1a242f; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent; } }

.navbar-default .navbar-link {
  color: #ffffff; }

.navbar-default .navbar-link:hover {
  color: #00bcd4; }

.navbar-default .btn-link {
  color: #ffffff; }

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #00bcd4; }

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc; }

.navbar-inverse {
  background-color: #00bcd4;
  border-color: transparent; }

.navbar-inverse .navbar-brand {
  color: #ffffff; }

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #2c3e50;
  background-color: transparent; }

.navbar-inverse .navbar-text {
  color: #ffffff; }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #2c3e50;
  background-color: transparent; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #15a589; }

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent; }

.navbar-inverse .navbar-toggle {
  border-color: #128f76; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #128f76; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #149c82; }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #15a589;
  color: #ffffff; }

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2c3e50;
    background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #15a589; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent; } }

.navbar-inverse .navbar-link {
  color: #ffffff; }

.navbar-inverse .navbar-link:hover {
  color: #2c3e50; }

.navbar-inverse .btn-link {
  color: #ffffff; }

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #2c3e50; }

.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #cccccc; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.sticky-notes {
  width: 100%;
  color: #fff;
  background: #00bcd4 url(../img/stickies.jpg) center center no-repeat fixed;
  position: relative; }
  .sticky-notes:before {
    transition: background-color 0.5s;
    background-color: rgba(47, 154, 255, 0.93);
    z-index: 0; }
  .sticky-notes h4 {
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .sticky-notes h4:after {
      content: "";
      background: url("../img/white-bracket.svg") center center no-repeat;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center; }

.skills .container {
  width: 100%; }

.skills aside {
  width: 60%;
  display: none; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #F8F8F8; }

.metro {
  padding: 0;
  list-style: none;
  margin: 0;
  width: 100%;
  order: 2;
  flex-flow: row wrap; }
  .metro a:hover {
    color: #F8F8F8; }
  .metro > * {
    display: flex;
    min-width: auto;
    min-height: 150px;
    flex: 1 1 auto;
    position: relative;
    transition: background-color 0.5sec;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
    color: white; }
  @media only screen and (max-width: 700px) {
    .metro li {
      flex-basis: calc(100% * 0.333333333333333);
      border-bottom: 0; } }
  @media only screen and (max-width: 250px) {
    .metro li {
      flex-basis: calc(100% * 0.5); } }
  footer .metro > li {
    flex-flow: column;
    justify-content: space-between;
    flex: 1 1; }
  @media only screen and (max-width: 250px) {
    footer .metro {
      flex-direction: row; } }

.arrow {
  max-height: 50px;
  opacity: .5; }

p {
  font-size: 20px; }
  p.small {
    font-size: 16px; }

a {
  outline: 0;
  text-decoration: none;
  color: #2F9AFF; }
  a:hover {
    outline: 0;
    color: #2F9AFF; }
  a:focus {
    outline: 0;
    color: #2F9AFF; }
  a:active {
    outline: 0;
    color: #2F9AFF; }
  a.active {
    outline: 0;
    color: #2F9AFF; }

.logo {
  line-height: 0; }

.img-headshot {
  height: 250px;
  clip-path: circle(95px at center 100px);
  -webkit-clip-path: circle(95px at center 100px);
  -moz-clip-path: circle(95px at center 100px); }

.img-centered {
  margin: 0 auto; }

header {
  text-align: center;
  color: #F8F8F8;
  background-color: #1e88e5;
  background-size: cover;
  position: relative;
  transition: background-color 0.7s; }
  header:before {
    transition: background-color 0.5s;
    background-color: rgba(47, 154, 255, 0.93);
    z-index: 0; }
  header .container {
    padding-top: 100px;
    padding-bottom: 50px; }
  header img {
    display: block;
    margin: 0 auto 20px; }
  header .intro-text {
    position: relative; }
    header .intro-text .name {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700; }
      header .intro-text .name .logo div {
        width: 100px;
        margin: 20px; }
    header .intro-text .skills {
      font-size: 1em;
      font-weight: 300;
      max-width: 30em;
      display: block;
      margin: 0 auto; }

.marqueeMoon.midnight:before {
  background: #2c3e50; }

.row {
  display: flex;
  flex-flow: column;
  margin-left: -15px;
  margin-right: -15px; }

.clients {
  background-color: #00bcd4;
  order: 2;
  padding: 0;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  list-style: none; }
  .clients img {
    mix-blend-mode: multiply;
    width: 100%; }
  .clients li {
    width: 300px;
    height: 250px;
    position: relative; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (min-width: 768px) {
  header .intro-text .name {
    font-size: 4.75em; }
  header .intro-text .skills {
    font-size: 1.55em; }
  .navbar-fixed-top {
    padding: 1em 0;
    transition: padding 0.3s;
    transition: background-color 0.5s; }
    .navbar-fixed-top .navbar-brand {
      width: 9em;
      padding: 0;
      transition: all 0.3s; }
    .navbar-fixed-top.navbar-shrink {
      padding: 10px 0;
      background-color: #2c3e50; }
      .navbar-fixed-top.navbar-shrink .navbar-brand {
        width: 3.6em; } }

.navbar {
  text-transform: uppercase;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100; }
  .navbar .navbar-nav {
    letter-spacing: 1px; }
    .navbar .navbar-nav li a:focus {
      outline: 0; }
  .navbar a:focus {
    outline: 0; }

.navbar-default {
  border: 0;
  background-color: transparent; }
  .navbar-default .navbar-nav li.active a {
    border-bottom: 2px solid #F8F8F8; }

.navbar-inverse {
  border: 0; }

section, main {
  padding: 50px 0; }
  section h2, main h2 {
    margin: 0;
    font-size: 3em; }
  section.mystery, main.mystery {
    background: #1B5285; }
  section.success a, main.success a {
    outline: 0; }
    section.success a:hover, main.success a:hover {
      outline: 0;
      color: #2c3e50; }
    section.success a:focus, main.success a:focus {
      outline: 0;
      color: #2c3e50; }
    section.success a:active, main.success a:active {
      outline: 0;
      color: #2c3e50; }
    section.success a.active, main.success a.active {
      outline: 0;
      color: #2c3e50; }

@media (max-width: 767px) {
  .navbar-default {
    background-color: #2c3e50; }
    .navbar-default .navbar-brand {
      width: 7em;
      padding: 8px 15px; }
  section, main {
    padding: 75px 0; }
    section.first, main.first {
      padding-top: 75px; } }

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px; }
    #portfolio .portfolio-item .portfolio-link .caption {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(47, 154, 255, 0.9);
      transition: all ease 0.5s; }
      #portfolio .portfolio-item .portfolio-link .caption:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        font-size: 20px;
        color: #fff; }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h3 {
          margin: 0; }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
          margin: 0; }

#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all 0.3s ease-in-out; }

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee; }
  .floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease; }

footer {
  color: #fff; }
  footer h3 {
    margin-bottom: 30px; }
  footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50; }
  footer .footer-col {
    margin-bottom: 50px; }
  footer .footer-below {
    padding: 25px 0;
    background-color: #233140; }

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px; }

.btn:focus {
  outline: 0; }

.btn:active {
  outline: 0; }

.btn.active {
  outline: 0; }

.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px; }
  .scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px; }
    .scroll-top .btn:focus {
      outline: 0; }

.scroll-top .btn {
  display: inline-flex;
  justify-content: center;
  line-height: 0;
  padding: 0; }
  .scroll-top .btn .arrow {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    width: 40%;
    opacity: 1;
    /* height: auto; */
    display: inline; }

/*# sourceMappingURL=main.css.map */