h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700; }

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  border: solid 2px #fff;
  color: #2F9AFF;
  background: #fff; }

header:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

@font-face {
  font-family: "et-bembo";
  src: url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-roman-line-figures/et-bembo-roman-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-bembo";
  src: url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-display-italic-old-style-figures/et-bembo-display-italic-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-bembo";
  src: url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-bold-line-figures/et-bembo-bold-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "et-bembo-roman-old-style";
  src: url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.eot");
  src: url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.woff") format("woff"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.ttf") format("truetype"), url("../fonts/et-bembo/et-bembo-roman-old-style-figures/et-bembo-roman-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 15px; }

main {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: et-bembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  color: #2c3e50;
  max-width: 1400px;
  counter-reset: sidenote-counter; }

h1.tufte {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1; }

h2.tufte {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 2.2rem;
  line-height: 1; }

h3.tufte {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1; }

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1; }

table {
  overflow-x: scroll;
  width: 98%;
  clear: left;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 1.4rem 1%;
  border-collapse: separate;
  border-spacing: 0 5px;
  -webkit-font-feature-settings: 'tnum';
  /* This is technically redundant */
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum'; }

table.table-beta {
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }

thead th {
  text-align: left;
  border-bottom: 1px solid #AAAAAA;
  font-weight: 400;
  border-collapse: separate;
  border-spacing: 5px 5px; }

td.text {
  text-align: left; }

td > div.number {
  width: 27px;
  text-align: right;
  display: inline-block; }

span.table-label {
  padding-top: 8px; }

/* to maintain height relative to table header row */
table.booktabs {
  width: auto;
  margin: 0 auto;
  border-spacing: 0px;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333; }

.booktabs th {
  border-bottom: 1px solid #333333;
  padding: 0.65ex 0.5em 0.4ex 0.5em;
  font-weight: normal;
  text-align: center; }

.booktabs th.cmid {
  border-bottom: 1px solid #666666; }

.booktabs th.nocmid {
  border-bottom: none; }

.booktabs tbody tr:first-child td {
  padding-top: 0.65ex; }

/* add space between thead row and tbody */
.booktabs td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left; }

.booktabs caption {
  font-size: 90%;
  text-align: left;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1ex;
  caption-side: top; }

.booktabs tbody tr td.l {
  text-align: left !important; }

.booktabs tbody tr td.c {
  text-align: center !important; }

.booktabs tbody tr td.r {
  text-align: right !important; }

main article {
  position: relative;
  padding: 5rem 0rem; }
main section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
main p, main ol, main ul {
  font-size: 1.4rem; }
main p {
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline; }

blockquote p {
  font-size: 1.1rem;
  width: 50%; }

blockquote footer {
  width: 50%;
  text-align: right; }

main ul {
  width: 45%;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
  list-style-type: none; }
main li {
  padding: 0.5rem 0; }
main figure {
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-bottom: 3em; }
main figcaption {
  float: right;
  clear: right;
  margin-right: -48%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%; }
main figure.fullwidth figcaption {
  margin-right: 24%; }
main a {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding-bottom: 1px; }
main img {
  max-width: 100%; }
main .sidenote, main .marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative; }
main .table-caption {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.6; }
main .sidenote-number {
  counter-increment: sidenote-counter; }
main .sidenote-number:after, main .sidenote:before {
  content: counter(sidenote-counter) " ";
  font-family: et-bembo-roman-old-style;
  position: relative;
  vertical-align: baseline; }
main .sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; }
main .sidenote:before {
  content: counter(sidenote-counter) " ";
  top: -0.5rem; }
main p, main footer, main div.table-wrapper {
  width: 55%; }
main div.table-wrapper {
  overflow-x: scroll; }

@media screen and (max-width: 760px) {
  p, footer {
    width: 90%; }
  pre.code {
    width: 87.5%; }
  ul {
    width: 85%; }
  figure {
    max-width: 90%; }
  figcaption, figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none; }
  blockquote p, blockquote footer {
    width: 90%; } }

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: .03em; }

.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6; }

h1 .code, h2 .code, h3 .code {
  font-size: 0.8em; }

.marginnote .code, .sidenote .code {
  font-size: 1rem; }

pre.code {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: scroll; }

.fullwidth {
  max-width: 90%; }

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em; }

input.margin-toggle {
  display: none; }

label.sidenote-number {
  display: inline; }

label.margin-toggle:not(.sidenote-number) {
  display: none; }

@media (max-width: 760px) {
  main label.margin-toggle:not(.sidenote-number) {
    display: inline; }
  main .sidenote, main .marginnote {
    display: none; }
  main .margin-toggle:checked + .sidenote, main .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; }
  main label {
    cursor: pointer; }
  main pre.code {
    width: 90%;
    padding: 0; }
  main .table-caption {
    display: block;
    float: right;
    clear: both;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: baseline;
    position: relative; }
  main div.table-wrapper, main table, main table.booktabs {
    width: 85%; }
  main div.table-wrapper {
    border-right: 1px solid #efefef; }
  main img {
    width: 100%; } }

.navbar {
  position: relative;
  margin-bottom: 21px;
  border: 1px solid transparent; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px; } }

@media (min-width: 768px) {
  .navbar-header {
    float: left; } }

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch; }

.navbar-collapse.in {
  overflow-y: auto; }

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .navbar-collapse.in {
    overflow-y: visible; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0; } }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 340px; }

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px; } }

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0; } }

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px; }

@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0; } }

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }

@media (min-width: 768px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

.navbar-brand {
  float: left;
  padding: 19.5px 15px;
  font-size: 11px;
  line-height: 21px; }

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none; }

.navbar-brand > img {
  display: block; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px; } }

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.navbar-toggle:focus {
  outline: 0; }

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

@media (min-width: 768px) {
  .navbar-toggle {
    display: none; } }

.navbar-nav {
  margin: 9.75px -15px; }

.navbar-nav > li > a {
  line-height: 21px; }

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px; }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 21px; }
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none; } }

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0; }
  .navbar-nav > li {
    float: left; } }

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8.5px;
  margin-bottom: 8.5px; }

@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .navbar-form .form-control-static {
    display: inline-block; }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle; }
  .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
    width: auto; }
  .navbar-form .input-group > .form-control {
    width: 100%; }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .radio, .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .radio label, .navbar-form .checkbox label {
    padding-left: 0; }
  .navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0; } }

@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px; }
  .navbar-form .form-group:last-child {
    margin-bottom: 0; } }

@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.navbar-btn {
  margin-top: 8.5px;
  margin-bottom: 8.5px; }

.navbar-btn.btn-sm {
  margin-top: 13.5px;
  margin-bottom: 13.5px; }

.navbar-btn.btn-xs {
  margin-top: 19px;
  margin-bottom: 19px; }

.navbar-text {
  margin-top: 19.5px;
  margin-bottom: 19.5px; }

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px; } }

@media (min-width: 768px) {
  .navbar-left {
    float: left !important; }
  .navbar-right {
    float: right !important;
    margin-right: -15px; }
  .navbar-right ~ .navbar-right {
    margin-right: 0; } }

.navbar-default {
  background-color: #2c3e50;
  border-color: transparent; }

.navbar-default .navbar-brand {
  color: #ffffff; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #00bcd4;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: #777777; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #00bcd4;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a242f; }

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border-color: #1a242f; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1a242f; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #1a242f;
  color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00bcd4;
    background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1a242f; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent; } }

.navbar-default .navbar-link {
  color: #ffffff; }

.navbar-default .navbar-link:hover {
  color: #00bcd4; }

.navbar-default .btn-link {
  color: #ffffff; }

.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
  color: #00bcd4; }

.navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc; }

.navbar-inverse {
  background-color: #00bcd4;
  border-color: transparent; }

.navbar-inverse .navbar-brand {
  color: #ffffff; }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #2c3e50;
  background-color: transparent; }

.navbar-inverse .navbar-text {
  color: #ffffff; }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #2c3e50;
  background-color: transparent; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #15a589; }

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent; }

.navbar-inverse .navbar-toggle {
  border-color: #128f76; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #128f76; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #149c82; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #15a589;
  color: #ffffff; }

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2c3e50;
    background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #15a589; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent; } }

.navbar-inverse .navbar-link {
  color: #ffffff; }

.navbar-inverse .navbar-link:hover {
  color: #2c3e50; }

.navbar-inverse .btn-link {
  color: #ffffff; }

.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
  color: #2c3e50; }

.navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #cccccc; }

body {
  overflow-x: hidden;
  background-color: #F8F8F8; }

p {
  font-size: 20px; }
  p.small {
    font-size: 16px; }

a {
  outline: 0;
  text-decoration: none;
  color: #2F9AFF; }
  a:hover {
    outline: 0;
    color: #2F9AFF; }
  a:focus {
    outline: 0;
    color: #2F9AFF; }
  a:active {
    outline: 0;
    color: #2F9AFF; }
  a.active {
    outline: 0;
    color: #2F9AFF; }

.logo {
  line-height: 0; }

.img-headshot {
  height: 250px;
  clip-path: circle(95px at center 100px);
  -webkit-clip-path: circle(95px at center 100px);
  -moz-clip-path: circle(95px at center 100px); }

.img-centered {
  margin: 0 auto; }

header {
  text-align: center;
  color: #F8F8F8;
  background-color: #2F9AFF;
  background: url(../img/stickies.jpg) center center no-repeat fixed;
  background-size: cover;
  position: relative;
  transition: background-color .7s; }
  header:before {
    transition: background-color .5s;
    background-color: rgba(47, 154, 255, 0.93);
    z-index: 0; }
  header .container {
    padding-top: 100px;
    padding-bottom: 100px; }
  header img {
    display: block;
    margin: 0 auto 20px; }
  header .intro-text {
    position: relative; }
    header .intro-text .name {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      text-transform: uppercase;
      font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700; }
      header .intro-text .name .logo div {
        width: 100px;
        margin: 20px; }
    header .intro-text .skills {
      font-size: 1em;
      font-weight: 300;
      max-width: 30em;
      display: block;
      margin: 0 auto; }

.marqueeMoon.midnight:before {
  background: #2c3e50; }

.row {
  display: flex;
  flex-flow: column;
  margin-left: -15px;
  margin-right: -15px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (min-width: 768px) {
  header .intro-text .name {
    font-size: 4.75em; }
  header .intro-text .skills {
    font-size: 1.55em; }
  .navbar-fixed-top {
    padding: 1em 0;
    transition: padding .3s;
    transition: background-color .5s; }
    .navbar-fixed-top .navbar-brand {
      width: 9em;
      padding: 0;
      transition: all .3s; }
    .navbar-fixed-top.navbar-shrink {
      padding: 10px 0;
      background-color: #2c3e50; }
      .navbar-fixed-top.navbar-shrink .navbar-brand {
        width: 3.6em; } }

.navbar {
  text-transform: uppercase;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100; }
  .navbar .navbar-nav {
    letter-spacing: 1px; }
    .navbar .navbar-nav li a:focus {
      outline: 0; }
  .navbar a:focus {
    outline: 0; }

.navbar-default {
  border: 0;
  background-color: transparent; }
  .navbar-default .navbar-nav li.active a {
    border-bottom: 2px solid #F8F8F8; }

.navbar-inverse {
  border: 0; }

section, main {
  padding: 100px 0; }
  section h2, main h2 {
    margin: 0;
    font-size: 3em; }
  section.mystery, main.mystery {
    background: #1B5285; }
  section.success, main.success {
    color: #fff;
    background: #5F70A4; }
    section.success a, main.success a {
      outline: 0; }
      section.success a:hover, main.success a:hover {
        outline: 0;
        color: #2c3e50; }
      section.success a:focus, main.success a:focus {
        outline: 0;
        color: #2c3e50; }
      section.success a:active, main.success a:active {
        outline: 0;
        color: #2c3e50; }
      section.success a.active, main.success a.active {
        outline: 0;
        color: #2c3e50; }

@media (max-width: 767px) {
  .navbar-default {
    background-color: #2c3e50; }
    .navbar-default .navbar-brand {
      width: 7em;
      padding: 8px 15px; }
  section, main {
    padding: 75px 0; }
    section.first, main.first {
      padding-top: 75px; } }

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px; }
    #portfolio .portfolio-item .portfolio-link .caption {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(47, 154, 255, 0.9);
      transition: all ease .5s; }
      #portfolio .portfolio-item .portfolio-link .caption:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        font-size: 20px;
        color: #fff; }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h3 {
          margin: 0; }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
          margin: 0; }
#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out; }

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee; }
  .floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.76471em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    transition: top .3s ease, opacity .3s ease; }

footer {
  color: #fff; }
  footer h3 {
    margin-bottom: 30px; }
  footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50; }
  footer .footer-col {
    margin-bottom: 50px; }
  footer .footer-below {
    padding: 25px 0;
    background-color: #233140; }

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px; }

.btn:focus {
  outline: 0; }
.btn:active {
  outline: 0; }
.btn.active {
  outline: 0; }

.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px; }
  .scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px; }
    .scroll-top .btn:focus {
      outline: 0; }

.portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  box-shadow: none; }
  .portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
  .portfolio-modal .modal-content .item-details {
    margin: 30px 0; }
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer; }
  .portfolio-modal .close-modal:hover {
    opacity: .3; }
  .portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    transform: rotate(45deg); }
    .portfolio-modal .close-modal .lr .rl {
      z-index: 1052;
      width: 1px;
      height: 75px;
      background-color: #2c3e50;
      transform: rotate(90deg); }
.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #2F9AFF; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee; }


/*# sourceMappingURL=main.css.map */